@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #333333;
  margin: 2rem;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #333333; /* Cor para h1 no modo claro */
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color: #333333; /* Cor para h2 no modo claro */
}

h3 {
  font-size: 1.8em;
  font-weight: bold;
  color: #333333; /* Cor para h3 no modo claro */
}

p {
  margin-bottom: 1em;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

body.dark-mode {
  background-color: #050505;
  color: #a2a3a3;
}

body.dark-mode h1 {
  color: #ffffff; /* Cor para h1 no modo escuro */
}

body.dark-mode h2 {
  color: #aaaaaa; /* Cor para h2 no modo escuro */
}

body.dark-mode h3 {
  color: #999999; /* Cor para h3 no modo escuro */
}
